/* Google fonts Inter and Raleway is imported here */


/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Universal Design for the website */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styling here */
#body{
    max-width: 1440px; 
    color: #252432;
    background-color: #fff;
}


.main{
    margin: 0 10%;
}


/* need for my work */
.hidden{
    display: none;
}


/* common design */
.blue-btn{
    color: #fff;
    font-weight: 700;
    padding: 12px 
    4%;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;

}




/* Header and Navigation bar is styled here ------- */


.header{
    background: url(../Assets/Hero-bg.png);
    margin-bottom: 116px;
}
#navbar{
    padding: 50px 10% 158px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar h1{
    font-weight: 900;
    font-size: 2.1rem;
    color: #4E47FF;
}



/* Header banner is styled here */
.header-banner{
    padding: 10px 18% 150px;
    text-align: center;
}

.header-banner h1{
    font-size: 4rem;
    font-weight: 700;
    color: #252432;
    margin-bottom: 37px;
}


/* Main section designing is stared here --------- */



/* See in action section is designed here*/
 .see-action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
 }

 .action-section-text-container h2{
    font-size: 2.7rem;
    font-weight: bold;
    color: #252432;
    margin-bottom: 20px;
 }

 .action-section-text-container p{
    color: #25243286;
    font-size: 1.4rem;
    margin-bottom: 20px;
 }


 .action-section-image-container img{
    border-radius: 48px;
 }


 /* Users Stats section is designed here  */
 .user-stat-section{
    background: #4d47ff23;
    padding: 50px 10%;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 135px;
 }

 .user-stat-section h3{
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 40px;
 }

 .user-stat-section>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 
 .user-stat-section div h1{
    font-size: 5rem;
    color: #4E47FF;
 }

 .user-stat-section p{
    color: #25243285;

 }

 .users-feedback-section{
    margin-bottom: 137px;
 }

 .users-feedback-section>h2{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
 }

 .user-feedback-card-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5%;
 }

 .user-feedback-card{
    background: #F2EDED;
    padding: 1.5%;
    border: none;
    border-radius: 10px;
 }

 .stars-container{
    margin-bottom: 24px;
 }

 .user-feedback-card>p{
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .reviewer-container{
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .reviewer-container img{
    border-radius: 100px;
 }

 .reviewer-container p,small{
    color: gray;
 }
.reviewer-container p{
    font-weight: 700;
}


.focus-better-section{
    background: #F2EDED;
    padding: 70px 10%;
    text-align: center;
    border-radius: 14px;
}

.focus-better-section h1{
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}

.focus-better-section p{
    color: gray;
    margin: 24px 0;
}

.focus-better-section div img{
    border-radius: 48px;
    margin-top: 25px;
}
 